<%= decidim_modal id: "voting-help" do %>
  <div data-dialog-container>
    <h3 id="voting-help-label" class="h3"><%= t(".title") %></h3>
    <div class="static__content text-center">
      <span class="subtitle"><%= t(".subtitle") %></span>
    </div>

    <div class="row">
      <% %w(icon-selected-list icon-stamped-ballot icon-ballot-box).each_with_index do |item, index| %>
        <% state = index == 0 ? "active" : "" %>
        <div class="columns small-12 medium-4 voting-help-item">
          <div class="row">
            <div class="circle <%= state %>">
              <%= render partial: "decidim/budgets/partials/svgs/#{item}", formats: [:svg] %>
            </div>
          </div>
          <div class="help-description <%= state %>">
            <span class="strong"><%= index+1 %>.</span>
            <span><%= t(".step#{index+1}") %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div data-dialog-actions>
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded" data-dialog-close="voting-help" type="button">
        <%= t(".confirm") %>
      </button>
    </div>
  </div>
<% end %>
