<% if voting_mode? %>
  <div class="card budget-summary flex items-center" data-progress-reference data-safe-url="<%= budget_url(budget) %>">
    <div class="card__content my-8 flex flex-col space-y-4 text-left w-4/6">
      <h1 class="h1">
        <%= t(".choose_budget", budget_title: translated_attribute(budget.title)) %>
      </h1>
      <p class="text-md">
        <%= t(".choose_description") %>
      </p>
    </div>

    <div class="vote-progress-container p-4 w-4/6 z-50">
      <div class="vote-progress-content mx-auto w-full max-w-6xl">
        <% if current_order.projects_rule? %>
          <div class="budget-summary__total text-left text-lg" data-total-allocation="<%= current_order.available_allocation %>">
            <span class="mini-title text-md">
              <%= t(".total_projects", max_projects: current_order.maximum_projects).html_safe %>
            </span>
          </div>
        <% else %>
          <div class="budget-summary__total text-left my-2" data-total-allocation="<%= current_order.available_allocation %>" data-total-budget="<%= budget.total_budget %>">
            <p class="text-md"><%= t(".total_budget", budget: budget_to_currency(budget.total_budget)).html_safe %></p>
          </div>
        <% end %>

        <%= render partial: "order_selected_projects" %>

        <%= render partial: "order_progress" %>
      </div>
    </div>

    <div class="progress-spacer"></div>
  </div>
<% else %>
  <% if current_order_checked_out? %>
    <%= render partial: "pre_voting_budget_summary" %>
  <% else %>
    <%= render partial: "pre_voting_budget_summary" %>
  <% end %>
<% end %>
<%= render partial: "budget_confirm" %>
