<%= decidim_modal id: "budget-confirm", class:"verification-modal" do %>
  <% if current_order.present? %>
    <div data-dialog-container>
      <%= icon "check-double-line" %>
      <h3 class="h3" id="dialog-title-budget-confirm" data-dialog-title>
        <%= t("title", scope: "decidim.budgets.projects.budget_confirm") %>
      </h3>
      <div class="my-8" id="budget-confirm-current-order">
        <% if current_order.present? %>
          <h4 class="h4 mb-4"><%= translated_attribute(budget.title) %></h4>
          <p class="mb-4"><%= t(".description") %></p>
          <ul class="budget-confirm__selected-list divide-y border w-full">
            <% current_order.projects.each do |project| %>
              <li class="budget-confirm__selected-item h-12 flex">
                <div class="pl-6 h-12 w-4/6 border-r text-center flex items-center justify-start font-bold text-xl">
                  <%= translated_attribute(project.title) %>
                </div>
                <div class="h-12 w-2/6 text-center flex items-center justify-center text-xl">
                  <strong class="budget-confirm__selected-number">
                    <%= budget_to_currency project.budget_amount %>
                  </strong>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div data-dialog-actions>

      <button class="button button__lg button__transparent-secondary rounded-none" data-dialog-close="budget-confirm">
        <%= t("cancel", scope: "decidim.budgets.projects.budget_confirm") %>
      </button>

      <%= button_to checkout_budget_order_path(budget), class: "button button__lg button__secondary rounded-none", data: { disable: true } do %>
        <span>
          <%= t("confirm", scope: "decidim.budgets.projects.budget_confirm") %>
        </span>
        <%= icon "arrow-right-line", class: "fill-current" %>
      <% end %>
    </div>
  <% end %>
<% end %>
