<%= decidim_modal id: "cancel-voting" do %>
  <div data-dialog-container>
    <div class="flex flex-col space-y-4 items-center">
      <h3 id="exit-voting-notification-label" class="h3 text-center"><%= t(".title") %></h3>

      <div class="row text-center w-4/6">
        <p><%= t(".description") %></p>
      </div>
    </div>
  </div>
  <div data-dialog-actions>
    <div class="columns medium-8 medium-offset-2 cancel-vote-button-container">
      <button class="button button__sm hollow button__secondary" data-dialog-close="cancel-voting" type="button">
        <%= t(".continue") %>
      </button>
      <%= link_to t(".exit"), voting_booth_forced? ? cancel_redirect_path : budgets_path, id: "exit-notification-link", class: "button button__sm hollow button__transparent-secondary" %>
    </div>
  </div>
<% end %>
