<div id="order-progress">
  <div class="budget-summary__progressbox" data-current-allocation="<%= current_order ? current_order.total : 0 %>" data-progress-reference>
    <div class="progress budget-progress" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100" aria-label="Voting limit">
      <span class="progress-meter-text progress-meter-text--right h6"><%= current_order_budget_percent %>%</span>
      <!--Change width and text dynamically.-->
      <div class="progress-meter budget-progress__meter" style="width: <%= current_order_budget_percent %>%">
      </div>
    </div>
    <% if !current_order_checked_out? && voting_open? %>
      <button class="progress-ready-button" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <span class="whitespace-nowrap"><%= voting_booth_forced? ? t(".vote") : t(".ready") %></span>
        <%= icon("arrow-right-line") %>
      </button>
    <% end %>
  </div>
</div>
