<div class="my-4" id="order-selected-projects">
  <% if current_order&.projects&.any? %>
    <% if current_order.projects_rule? %>
      <div class="card__content budget-summary__selected">
        <button class="flex gap-2 items-center" data-dialog-open="selected-projects">
          <strong class="h6 pr-6"><%= t(".choices") %><%= current_order.maximum_projects - current_order.projects.size %></strong>
          <p class="h6"> <%= t(".show_choices") %> </p>
          <%= icon("menu-line", class:"icon--small", aria_label: t(".view"), role: "img") %>
        </button>
      </div>
    <% else %>
      <div class="card__content budget-summary__selected">
        <div class="text-left text-sm font-bold flex gap-2 items-center md:text-lg">
          <p>
            <%= t(".assigned") %>
            <div class="total-budget inline-block">
              <%= budget_to_currency(budget.total_budget - current_order&.total_budget.to_f) %>
            </div>
          </p>
        </div>
        <button class="flex gap-2 items-center" data-dialog-open="selected-projects">
          <p class="text-sm font-bold md:text-lg"> <%= t(".show_choices") %> </p>
          <%= icon("menu-line", class:"icon--small w-4 h-4 md:w-6 md:h-6", aria_label: t(".view"), role: "img") %>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
