<div id="order-progress">
  <div class="budget-summary__progressbox flex gap-6" data-current-allocation="<%= current_order ? current_order.total : 0 %>" data-progress-reference>
    <div class="progress budget-progress bg-white w-5/6 h-10" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-meter progress-meter--minimum" style="width: <%= current_order_budget_percent_minimum %>%"></div>
      <!--Change width and text dynamically.-->
      <div class="progress-meter budget-progress__meter bg-gray-3 h-[50px] flex items-center justify-center 2xl:h-10" style="width: <%= current_order_budget_percent %>%">
        <span class="progress-meter-text progress-meter-text--right font-semibold"><%= current_order_budget_percent %>%</span>
      </div>
    </div>
    <% if !current_order_checked_out? && voting_open? %>
      <button class="button button__sm button__secondary h-[50px] 2xl:h-10" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <%= voting_booth_forced? ? t(".vote") : t(".ready") %>
        <%= icon("arrow-right-line") %>
      </button>
    <% end %>
  </div>
</div>
