<div class="my-4" id="order-selected-projects">
  <% if current_order&.projects&.any? %>
    <% if current_order.projects_rule? %>
      <div class="card__content budget-summary__selected">
        <button class="flex gap-2 items-center" data-dialog-open="selected-projects">
          <strong class="h6 pr-6"><%= t(".choices") %><%= current_order.maximum_projects - current_order.projects.size %></strong>
          <h6 class="h6"> <%= t(".show_choices") %> </h6>
          <%= icon("menu-line", class:"icon--small", aria_label: t(".view"), role: "img") %>
        </button>
      </div>
    <% else %>
      <div class="card__content budget-summary__selected">
        <button class="flex gap-2 items-center" data-dialog-open="selected-projects">
          <h6 class="h6"><%= current_order.projects.size %></h6>
          <h6 class="h6"> <%= t(".selected_projects", count: current_order.projects.size) %> </h6>
          <%= icon("menu-line", class:"icon--small", aria_label: t(".view"), role: "img") %>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
