<%= decidim_modal id: "project-modal-#{project.id}" do %>
  <div class="exit-notification-label ml-2 mb-6">
    <h1 id="exit-notification-label" class="h1"><%= decidim_sanitize(translated_attribute(project.title)) %></h1>
  </div>

  <div data-dialog-container>
    <div class="row text-left space-y-2">
      <p class="font-semibold"><strong><%= t ".budget_amount" %></strong><%= budget_to_currency(project.budget_amount) %></p>

      <% if project.category %>
        <p class="font-semibold"><strong><%= t ".category" %></strong><%= decidim_sanitize(translated_attribute(project.category.try(:name))) %></p>
      <% end %>

      <% if project.scope %>
        <p class="font-semibold"><strong><%= t ".scope" %></strong><%= decidim_sanitize(translated_attribute(project.scope.try(:name))) || t("decidim.scopes.global") %></p>
      <% end %>

      <div class="row text-left">
        <%= raw decidim_sanitize(translated_attribute(project.description)) %>
      </div>
    </div>
  </div>

  <div data-dialog-actions class="w-10">
    <button class="button button__lg button__transparent-secondary"><%= t(".close_project") %></button>
  </div>
<% end %>
