<%= decidim_modal id: "selected-projects" do %>
  <div class="flex flex-col gap-6 mb-6">
    <h2 class="h2"><%= t(".choices") %></h2>
    <h3 class="text-[24px] font-bold md:text-[28px]"><%= translated_attribute(budget.title) %></h3>
    <p id="current-choices"><%= current_order.projects.any? ? t(".current_choices") : t(".no_selection") %></p>
    <% if current_order.projects_rule? %>
      <strong class="h6 pr-6">
        <%= t(".choices_remaining") %>
        <span id="choices-remaining" data-max-projects="<%= current_order.maximum_projects %>"><%= current_order.maximum_projects - current_order.projects.size %></span>
      </strong>
    <% else %>
      <p class="text-md font-bold flex gap-2 md:text-lg">
        <%= t(".assigned") %>
        <span id="budget-remaining"><%= budget_to_currency(budget.total_budget - current_order&.total_budget.to_f) %></span>
      </p>
    <% end %>
  </div>

  <% if current_order.projects.any? %>
    <div id="selected-projects-container" data-dialog-container>
      <ul class="budget-summary__selected-list divide-y border">
        <% current_order.projects.each do |project| %>
          <li id="selected-project-<%= project.id %>" class="budget-summary__selected-item flex flex-col p-4 space-y-2 md:space-y-0 md:p-0 md:justify-center md:items-stretch md:items-center md:flex-row" data-cost="<%= project.budget_amount %>">
            <div class="flex items-center justify-start font-bold text-lg md:text-xl md:p-4 md:text-center md:border-r">
              <%= translated_attribute(project.title) %>
            </div>

            <div class="flex justify-between md:w-3/6">
              <div class="text-center flex items-end justify-center text-lg md:p-4 md:items-center md:border-r">
                <strong class="budget-summary__selected-number">
                  <%= budget_to_currency project.budget_amount %>
                </strong>
              </div>
              <% unless current_order_checked_out? %>
                <div class="flex justify-center items-center">
                  <%= button_to budget_order_line_item_path(project_id: project), method: :delete, remote: true, data: { disable: true }, form: { style: "display: inline" }, class: "w-full flex button button__xs button__transparent-secondary lg:button__lg" do %>
                    <span><%= t(".remove") %></span>
                    <%= icon("delete-bin-line", aria_label: t("decidim.budgets.projects.order_selected_projects.remove"), role: "img") %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-dialog-actions>
    <button type="button" class="button button__lg button__secondary text-sm md:text-lg" data-dialog-close="selected-projects">
      <%= t(".continue") %>
      <%= icon("arrow-right-line", class: "h-6 w-6") %>
    </button>
  </div>
<% end %>
