<%= decidim_modal id: "selected-projects" do %>
  <div class="flex flex-col gap-4 mb-2">
    <h2 class="h2"><%= t(".choices") %></h2>
    <h3 class="h3"><%= translated_attribute(budget.title) %></h3>
    <p id="current-choices"><%= t(".current_choices") %></p>
  </div>

  <div id="selected-projects-container" data-dialog-container>
    <ul class="budget-summary__selected-list divide-y border">
      <% current_order.projects.each do |project| %>
        <li id="selected-project-<%= project.id %>" class="budget-summary__selected-item h-12 flex justify-center items-center">
          <div class="border-r pl-2 text-center flex items-center justify-start font-bold text-lg">
            <%= translated_attribute(project.title) %>
          </div>
          <div class="border-r text-center flex items-center justify-center text-lg">
            <strong class="budget-summary__selected-number">
              <%= budget_to_currency project.budget_amount %>
            </strong>
          </div>
          <% unless current_order_checked_out? %>
            <div class="flex justify-center items-center">
              <%= button_to budget_order_line_item_path(project_id: project), method: :delete, remote: true, data: { disable: true }, form: { style: "display: inline" }, class: "h-8 w-full flex button button__xs button__transparent-secondary rounded-none lg:button__lg" do %>
                <span class="hidden lg:inline"><%= t(".remove") %></span>
                <%= icon("delete-bin-line", aria_label: t("decidim.budgets.projects.order_selected_projects.remove"), role: "img") %>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div data-dialog-actions>
    <button type="button" class="button button__lg button__secondary text-lg" data-dialog-close="selected-projects">
      <%= t(".continue") %>
      <%= icon("arrow-right-line", class: "h-6 w-6") %>
    </button>
  </div>
<% end %>
