<%= render partial: "decidim/shared/component_announcement" %>

<% cell("decidim/budgets/limit_announcement", budget) %>

<div class="voting-wrapper <%="margin-top-3" if voting_booth_forced? %>">
  <div class="row columns">
    <% if voting_finished? %>
      <h2 class="heading2">
        <%= t("decidim.budgets.projects.projects_for", name: translated_attribute(budget.title)) %>
      </h2>
    <% else %>
      <%= render partial: "budget_summary" %>
      <%= render partial: "cancel_voting_modal" %>
    <% end %>
  </div>

  <div class="row columns w-4/6 mx-auto mt-4 py-6">
    <%= render partial: "count" %>
  </div>

  <div class="w-4/6 mx-auto mb-6 lg:flex lg:justify-between lg:gap-10">
    <div class="border border-background h-min">
      <%= render partial: "decidim/shared/filters", locals: { filter_sections: , search_variable: :search_text_cont } %>
    </div>

    <div id="projects" class="columns mediumlarge-8 large-9 w-full pr-4 mt-6 lg:mt-0" aria-live="polite">
      <%= render partial: "projects" %>
    </div>
  </div>
</div>

<%= render partial: "decidim/budgets/projects/selected_projects_modal" if voting_mode? && !voting_finished? %>
<%= append_javascript_pack_tag("decidim_budgets_booth_voting") %>
