<%= decidim_modal id: "cancel-voting" do %>
  <div data-dialog-container>
    <h4 id="exit-voting-notification-label" class="h4"><%= t(".title") %></h4>

    <div class="row text-left">
      <p><%= t(".description") %></p>
    </div>
  </div>
  <div data-dialog-actions>
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded" data-close type="button">
        <%= t(".continue") %>
      </button>
      <%= link_to t(".exit"), voting_booth_forced? ? cancel_redirect_path : decidim_budgets.budgets_path, id: "exit-notification-link", class: "button hollow expanded" %>
    </div>
  </div>
<% end %>
