<% add_decidim_page_title component_name %>
<%= append_javascript_pack_tag "decidim_budgets" %>
<%= append_stylesheet_pack_tag "decidim_budgets", media: "all" %>
<%= append_javascript_pack_tag "decidim_budgets_booth_budgets" %>

<% content_for :aside do %>
  <h1 class="title-decorator"><%= component_name %></h1>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_two_col" do %>
  <%= render partial: "decidim/shared/component_announcement" %>

  <% if current_workflow.budgets.empty? %>
    <%= cell("decidim/announcement", t("empty", scope: "decidim.budgets.budgets_list")) %>
  <% end %>

  <section class="layout-main__section">
    <%= cell("decidim/budgets/budgets_header", current_workflow) %>
  </section>

  <section class="layout-main__section layout-main__heading">
    <%= cell("decidim/budgets/budgets_list", current_workflow) %>
  </section>

  <%= render partial: "decidim/budgets/voting/thanks_message_modal" if vote_success_content.present? && !voted_all_budgets? %>
  <% handle_thanks_popup %>

  <% budgets.each do |budget| %>
    <%= render partial: "decidim/budgets/orders/modal", locals: {budget: budget, projects: budget.projects } if voted_this?(budget) %>
  <% end %>
<% end %>


