<%= decidim_modal id: "status-summary", class:"verification-modal" do %>
  <% if current_order.present? %>
    <div data-dialog-container>
      <%= icon "check-double-line" %>
      <h3 class="h2" id="dialog-title-budget-confirm" data-dialog-title>
        <%= post_vote ? t(".votes") : t(".title") %>
      </h3>

      <div class="mb-6"></div>

      <% if current_order.present? %>
        <h4 class="h4 mb-4"><%= translated_attribute(budget.title) %></h4>
        <ul class="status-summary__selected-list divide-y border w-full">
          <% current_order.projects.each do |project| %>
            <li class="status-summary__selected-item space-y-1 p-4 flex flex-col md:p-0 md:space-y-0 md:flex-row">
              <div class="w-4/6 text-center flex items-center justify-start font-bold text-md md:p-4 md:text-xl md:border-r">
                <%= translated_attribute(project.title) %>
              </div>
              <div class="w-2/6 flex font-bold items-center text-md md:p-4 md:text-xl md:justify-center md:text-center">
                <p class="status-summary__selected-number">
                  <%= budget_to_currency project.budget_amount %>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div data-dialog-actions>
      <% if post_vote %>
        <%= link_to(
          budget_order_path(budget),
          method: :delete,
          class: "button button__lg button__secondary text-sm md:text-lg",
          data: { confirm: t(:are_you_sure, scope: "decidim.budgets.projects.budget_summary") }
        ) do %>
          <span class="inline-block">
            <%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %>
          </span>
          <%= icon "delete-bin-line", class: "inline-block fill-white" %>
        <% end %>
      <% end %>

      <button class="button button__lg md:button__lg button__transparent-secondary text-sm md:text-lg" data-dialog-close="status-summary">
        <%= t(".close") %>
      </button>
    </div>
  <% end %>
<% end %>
