<% if voting_booth_forced? %>
  <div class="row">
    <div class="columns mediumlarge-12">
      <%= render :card_list %>
    </div>
  </div>
  <% if voting_open? && voted? %>
    <div class="row columns">
      <div class="margin-bottom-3">
        <p>
          <%= t(:if_change_opinion, scope: i18n_scope) %>
          <%= link_to(
          t("cancel_order.only_one", scope: i18n_scope),
          budget_order_path(voted.first),
          method: :delete,
          data: { confirm: t("projects.budget_summary.are_you_sure", scope: "decidim.budgets") }) if voted.one? %>
        </p>
        <% if !voted.one? && voted.any? %>
          <ul>
            <% voted.each do |budget| %>
              <li>
                <%= link_to(
                  t("cancel_order.more_than_one", scope: i18n_scope, name: decidim_sanitize(translated_attribute(budget.title))),
                  budget_order_path(budget),
                  method: :delete,
                  class: "cancel-order",
                  data: {
                    confirm: t("projects.budget_summary.are_you_sure", scope: "decidim.budgets")
                    }
                ) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if !voting_finished? && voted? %>
    <h2 class="h5 md:h3 decorator mb-8">
      <%= t("voted_budgets", scope: "decidim.budgets.budgets_list") %>
    </h2>

    <%= render :voted %>
  <% end %>

  <% if budgets.where.not(id: voted.map(&:id)).exists? %>
    <div id="budgets" class="card__list-list">
      <%= main_list %>
    </div>
  <% end %>

  <%= decidim_paginate budget_paginate %>
<% end %>
